In [1]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='OsA6U08xaFXPdCL0kIU2e8uNS-mOpLqenSntKllE38xw',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.eu-de.cloud-object-storage.appdomain.cloud')

bucket = 'precipitationanalysis-donotdelete-pr-dhxbkemmnaxgkv'
object_key = 'business-price-indexes-september-2022-quarter-csv.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

/tmp/wsuser/ipykernel_164/143730288.py:24: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_data_1 = pd.read_csv(body)

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,CEPQ.S2371,1996.12,899.0,FINAL,Index,Capital Goods Price Index - CEP,"Price Index by Item - Plant, Machinery and Equ...",Glass and glass products,NaN,NaN,NaN,NaN
1,CEPQ.S2371,1997.03,884.0,FINAL,Index,Capital Goods Price Index - CEP,"Price Index by Item - Plant, Machinery and Equ...",Glass and glass products,NaN,NaN,NaN,NaN
2,CEPQ.S2371,1997.06,925.0,FINAL,Index,Capital Goods Price Index - CEP,"Price Index by Item - Plant, Machinery and Equ...",Glass and glass products,NaN,NaN,NaN,NaN
3,CEPQ.S2371,1997.09,932.0,FINAL,Index,Capital Goods Price Index - CEP,"Price Index by Item - Plant, Machinery and Equ...",Glass and glass products,NaN,NaN,NaN,NaN
4,CEPQ.S2371,1997.12,929.0,FINAL,Index,Capital Goods Price Index - CEP,"Price Index by Item - Plant, Machinery and Equ...",Glass and glass products,NaN,NaN,NaN,NaN